@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(235, 18%, 26%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 16px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 25px;
}

.container {
  width: 900px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
}

.left-box {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.right-box {
  padding: 20px;
}

h1 {
  font-size: 56px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 25px;
}

ul {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

li {
  display: flex;
  color: hsl(234, 29%, 20%);
}

.icons {
  width: 18px;
  margin-right: 14px;
}

label {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
}

#email-input {
  font-size: 16px;
  padding: 18px 25px;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 10px;
}

#email-input::placeholder {
  color:hsl(231, 7%, 60%);
}

.subscribe-button {
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 15px;
  padding: 18px 25px;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
}